<%- model_class = CpScoreSheetConfig -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:issue_date) %></th>
      <th><%= model_class.human_attribute_name(:press_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:press_run_id) %></th>
      <th><%= model_class.human_attribute_name(:foreman_id) %></th>
      <th><%= model_class.human_attribute_name(:pic_id) %></th>
      <th><%= model_class.human_attribute_name(:total_section) %></th>
      <th><%= model_class.human_attribute_name(:color_page_rated) %></th>
      <th><%= model_class.human_attribute_name(:bw_page_rated) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cp_score_sheet_configs.each do |cp_score_sheet_config| %>
      <tr>
        <td><%= link_to cp_score_sheet_config.id, cp_score_sheet_config_path(cp_score_sheet_config) %></td>
        <td><%= cp_score_sheet_config.issue_date %></td>
        <td><%= cp_score_sheet_config.press_id %></td>
        <td><%= cp_score_sheet_config.product_id %></td>
        <td><%= cp_score_sheet_config.press_run_id %></td>
        <td><%= cp_score_sheet_config.foreman_id %></td>
        <td><%= cp_score_sheet_config.pic_id %></td>
        <td><%= cp_score_sheet_config.total_section %></td>
        <td><%= cp_score_sheet_config.color_page_rated %></td>
        <td><%= cp_score_sheet_config.bw_page_rated %></td>
        <td><%=l cp_score_sheet_config.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cp_score_sheet_config_path(cp_score_sheet_config), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cp_score_sheet_config_path(cp_score_sheet_config),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cp_score_sheet_config_path,
            :class => 'btn btn-primary' %>
