<%= form_for(@cp_score_sheet_section) do |f| %>
  <% if @cp_score_sheet_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cp_score_sheet_section.errors.count, "error") %> prohibited this cp_score_sheet_section from being saved:</h2>

      <ul>
      <% @cp_score_sheet_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score_sheet_config_id %><br />
    <%= f.number_field :score_sheet_config_id %>
  </div>
  <div class="field">
    <%= f.label :section_name %><br />
    <%= f.text_field :section_name %>
  </div>
  <div class="field">
    <%= f.label :color_page %><br />
    <%= f.text_field :color_page %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
