<p id="notice"><%= notice %></p>

<p>
  <b>Score sheet config:</b>
  <%= @cp_score_sheet_section.score_sheet_config_id %>
</p>

<p>
  <b>Section name:</b>
  <%= @cp_score_sheet_section.section_name %>
</p>

<p>
  <b>Color page:</b>
  <%= @cp_score_sheet_section.color_page %>
</p>


<%= link_to 'Edit', edit_cp_score_sheet_section_path(@cp_score_sheet_section) %> |
<%= link_to 'Back', cp_score_sheet_sections_path %>
