<%- model_class = PageTypeScoreCriterium -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:page_type_id) %>:</strong></dt>
  <dd><%= @page_type_score_criterium.page_type.page_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:score_criteria_id) %>:</strong></dt>
  <dd><%= @page_type_score_criterium.score_criterium.score_criteria %></dd>
  <dt><strong><%= model_class.human_attribute_name(:score) %>:</strong></dt>
  <dd><%= @page_type_score_criterium.score %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              page_type_score_criteria_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_page_type_score_criterium_path(@page_type_score_criterium), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              page_type_score_criterium_path(@page_type_score_criterium),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
